.groups {
    margin-top: 20px;
    padding: 10px;
}

body {
    color: var(--darkgreen-color);
}

.group {
    border-top: 1px solid black;

    margin: 10px 0;
    padding: 10px;
}

.add {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--softgreen-color);
}

.newgroup {
    display: flex;
    gap: 10px;
    justify-content: right;
}

.newgroup>p {
    margin-top: 8px;
}