<navbar></navbar>

<div class="container">
    <div class="groups">
        <!-- <button routerLink="/groups/newGroup"><i class="fa-solid fa-plus"></i></button>   -->

        <div class="newgroup">
            <button routerLink="/groups/newGroup" class="add" *ngIf="usersService.isLogged()"><i
                    class="fa-solid fa-plus"></i></button>
            <p *ngIf="usersService.isLogged()">Create New Group</p>
        </div>


        <div class="group" *ngFor="let group of groups">
            <div class="text">
                <h3>{{group.name}}</h3>
                <p>{{group.description}}</p>
                <p><i class="fa-regular fa-calendar"></i> {{ group.date | date:'dd/MM/yyyy' }}</p>
            </div>
            <div class="icons">
                <button class="btn" (click)="updateGroup(group.id)"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn" (click)="deleteGroup(group.id)"><i class="fa-regular fa-trash-can"></i></button>
            </div>
        </div>
    </div>
</div>