<navbar></navbar>

<div class="container">
    <div class="groups">
        <button routerLink="/groups/newGroup"><i class="fa-solid fa-plus"></i></button>


        <div class="group" *ngFor="let group of groups">
            <button (click)="updateGroup(group.id)" class="btn"><i class="fa-regular fa-pen-to-square"></i></button>
            <button class="btn" (click)="deleteGroup(group.id)"><i class="fa-regular fa-trash-can"></i></button>
            <h3>{{group.name}}</h3>
            <h2>{{group.id}}</h2>
            <p>{{group.description}}</p>
            <p><i class="fa-regular fa-calendar"></i> {{ group.date| date:'dd/MM/yyyy' }}</p>
        </div>
    </div>
</div>