<div class="container">
    <div>
        <nav class="navbar">
            <div class="cashFlow">
                <a routerLink="/home">
                    <p class="texto"> CashFlow </p>
                </a>
                <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>


            <div class="buttons">
                <ul>
                    <li class="home" routerLinkActive="home">
                        <a routerLink="/home">Home</a>
                    </li>
                    <li class="login" routerLinkActive="active">
                        <a routerLink="/users/login">Login</a>
                    </li>
                    <li class="register" routerLinkActive="active">
                        <a routerLink="/users/register">Register</a>
                    </li>
                    <li class="groups" routerLinkActive="active">
                        <a routerLink="/groups">Groups</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>