<div class="container">
    <div>
        <nav class="navbar">
            <div class="cashFlow">
                <p class="texto"> CashFlow </p>
                <i class="fa-solid fa-hand-holding-dollar"></i>

            </div>




            <div class="buttons">

                <ul>
                    <hr noshade="noshade">
                    <li class="home" routerLinkActive="home" *ngIf="!usersService.isLogged()">
                        <a routerLink="/home">Home</a>
                    </li>
                    <li class="login" routerLinkActive="active" *ngIf="!usersService.isLogged()">
                        <a routerLink="/users/login">Login</a>
                    </li>
                    <li class="register" routerLinkActive="active" *ngIf="!usersService.isLogged()">
                        <a routerLink="/users/register">Register</a>
                    </li>
                    <li class="groups" routerLinkActive="active" *ngIf="usersService.isLogged()">
                        <a routerLink="/groups">Groups</a>
                    </li>
                    <li (click)="onLogOut()" class="Logout" routerLinkActive="active" *ngIf="usersService.isLogged()">
                        <a routerLink="/groups">Logout</a>
                    </li>

                    <hr noshade="noshade">

                </ul>
            </div>
        </nav>
    </div>
</div>