input.ng-valid.ng-touched {
    border-color: lightgreen;
}

input.ng-invalid.ng-touched {
    border-color: lightcoral;
}

.error {
    color: tomato
}

.image {
    width: 50%;
    height: 50%;
    margin: 50px auto;


}

img {
    width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 40%;

}