<navbar></navbar>


<div class="container">
    <h1>Login</h1>
    <form class="mt-5" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <label>Email address</label>
            <div>
                <input type="email" class="input" placeholder="Enter email" formControlName="email">
            </div>
            <p class="error" *ngIf="checkError('email', 'required')">
                Email field is required
            </p>
            <p class="error" *ngIf="checkError('email', 'pattern')">
                Email must exists
            </p>
        </div>
        <div class="form-group mb-2">
            <label>Password</label>
            <div class="eye">
                <input [type]="password" class="input" placeholder="Enter password" formControlName="password">
                <button type="button" class="btn" (click)="showPassword()">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </div>
            <p class="error" *ngIf="checkError('password', 'pattern')">
                Password must have: uppercase, lowercase and numbers. Between 3 and 8 characters
            </p>
        </div>
        <p class="error" *ngIf="checkError('password', 'required')">
            Password is required
        </p>
        <div class="registeryet">

            <p>Not registered yet?<a routerLink="/users/register"> <span> Click here!</span></a></p>

        </div>
        <button type="submit" value="submit" class="btn btn-success mt-2" [disabled]="!formulario.valid">Submit</button>

    </form>

</div>