<navbar></navbar>


<div class="container">
    <div class="registeryet">
        <i class="fa-solid fa-user-group icon"></i>
        <p (click)="goBack()"> Go back to <span>your group!</span></p>
    </div>

    <form class="mt-3" [formGroup]="formulario" (input)="onInput()">
        <div class="form-group mb-3">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Enter an username" formControlName="username">

        </div>

    </form>

    <div class="username" *ngFor="let user of users" (click)="onClick(user.id)">
        <p>{{user.username}}</p>
    </div>

    <div class="image">
        <img src="../../../../assets/images/vecteezy_people-in-love-cartoon-flat-illustration-of-diverse-cartoon_9889676_257.png"
            alt="">
    </div>

</div>