<navbar></navbar>

<div class="container">
    <div class="goback">
        <button (click)="goBackBills()" class="add"><i class="fa-solid fa-angles-left"></i></button>
        <p>Go back</p>
    </div>
    <form class="mt-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
            <label>Bill Name</label>
            <input type="text" class="form-control" placeholder="Enter Group Name" formControlName="name">
            <p class="error" *ngIf="checkError('name', 'required')">
                Name field is required
            </p>
            <p class="error" *ngIf="checkError('name', 'required')">
                Name field must be less than 30 characters
            </p>
        </div>
        <div class="form-group mb-2">
            <label>Creation date</label>
            <input type="date" class="form-control" placeholder="Enter date" formControlName="date">
        </div>
        <div class="form-group mb-2">
            <label>Quantity</label>
            <input type="text" class="form-control" placeholder="Enter Description" formControlName="quantity">

        </div>


        <!-- <div class="form-group mb-2">
            <p>Select deptors:</p>
            <label>NOMBRE</label>
            <div>
                <input type="checkbox" formControlName="deptor">
            </div>
        </div> -->

        <button type="submit" value="submit" class="btn btn-success mt-2" [disabled]="!formulario.valid">Submit</button>

    </form>





</div>